.book-card {
  display: flex;
  margin-top: 3rem;

  &__details {
    width: 15rem;
    margin: 0 1rem 0 2rem;
    flex-direction: column;
    justify-content: space-between;

    display: flex;
  }

  &__picture img {
    width: 128px;
  }

  &__link {
    margin-top: 1rem;
  }
}
